<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.web>
    <machineKey validationKey="6CCD8F2FA7593F3108A607DFAF5A7C579E06F802A9B97BE71FD9DF949ED95CCCB3CAD863ECC07FB2F18BA2A10A241572A65EBB5FCF67AD36669BEFE476AB8F36" decryptionKey="0B3EFF1C0890F814D43FFD56EB88ACEAE8E517FD5D052E8ACE0669CA1D0DE097" validation="SHA1" decryption="AES" />
  </system.web>

</configuration>